.formStyle {
    display: 'flex';
    flex-direction: 'column';
    justify-items: 'center';
    background-color: 'black';
    min-height: '10vh';
    color: 'wheat';
    margin: 0;
    width: '100%'}
      
.labelStyle {
    font-size: '12px';
    margin-top: '1vh';
    background-color: 'black';
    color: 'white';
    width: '100%'}
    
.sInputStyle {
    max-height: '5vh';
    margin-left: '25vw';
    color: 'black';
    border: '8px wheat inset';
    border-radius: '20px';
    background-color: 'white';
    width: '50%'}
    
.lInputStyle {
    max-height: '10vh';
    color: 'black';
    border: '8px wheat inset';
    border-radius: '20px';
    background-color: 'white';
    width: '50%';
    margin-left: '25%'}
    
.buttonStyle {
    cursor: 'pointer';
    border-radius: '20px';
    outline: 'none';
    background-color: 'wheat';
    color: 'black';
    width: '20%';
    height: '5vh';
    margin-left: '40%'}